@import url('index.css');

.showcases {
    float: right;
    position: relative;
    width: 30%;
    height: 70%;
    max-width: 30%;
    max-height: 70%;
    margin-top: 1%;
    margin-right: 3%;
    display: flex;
    align-items : center;
}

.trophy {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;
}

.trophy img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: block;
}

.description {
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    font-size: large;
}

.showcase_prev, .showcase_next {
    top: auto;
    width: auto;
    color: rgb(145, 95, 55);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    position: relative;
    display: block;
    z-index: 10;
}

.showcase_prev {
    margin-right: 10px;
}

.showcase_next {
    margin-left: 10px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.25s;
    animation-name: fade;
    animation-duration: 0.25s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}