@import url('basic.css');

.background {
    background-image: url(../assets/back.jpg);
    height: 100%;
    
    filter: blur(4px) brightness(50%);
    -webkit-filter: blur(4px) brightness(50%);
    
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: -1;

    display: inline;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myname {
    position: absolute;
    display: block;
    left: 4%;
    top: 1%;
    
    font-family: 'Lacquer';
    font-size: 500%;
    
    color: rgb(255, 255, 255);
}